/*
Theme Name: hestia-child
Description: Theme enfant de Hestia
Author: Greg - WPserveur
Author URI: https://www.wpserveur.net
Template: hestia 
Version: 0.1.0
*/

.navbar{
  background:red;
}
.footer{
  background: red!important;
}